@import './../../style/_variables.scss';
@import '../../style/mixins.scss';

.navbar{
    // background-color: rgb(182, 182, 182);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.75rem;
    position: relative;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include for-desktop-up{
    flex-direction: row;
    }
    padding: 0.5rem 1rem;
    .navigation__wrapper{
    @include for-desktop-up{
        position: absolute;
        right: 2rem;
    }
        gap: 1rem;
        .navigation__link{
            list-style: none;
            padding: 0 0.5rem;
            .link{
                text-decoration: none;
                color: $dark-color;
                font-weight: 500;
            }
            .active{
                color: $primary-color;
            }
        }
    }
}