@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Yellowtail&display=swap");
@import "./style/variables";

body {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
}
#root {
  overflow-x: hidden;
}
p {
  margin: 0;
  padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-primary:active,
.dropdown-item:active {
  background-color: $primary-color;
}

.btn {
  border: none;
  padding: 0.75rem 1.75rem;
  border-radius: 0.3125rem;
  border: 0.08rem $dark-color solid;
}

.page__bg{
  background-color: rgba(219, 219, 219, 0.315);
  min-height: 100vh;
}

.flex{
display: flex;
}

.flex-dr-column{
    flex-direction: column;
}

.align-items-center{
align-items: center;
}

.align-flex-start{
    align-items: flex-start;
}

.align-flex-end{
    align-items: flex-end;
}

.justify-center{
    align-items: center;
}
    
.justify-between{
        align-items: flex-start;
}


.public__table__design {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 3rem 0;
  td{
      border: 0.0625rem solid #ddd;
      padding: 0.5rem;
      }
      th {
        border: 0.0625rem solid #ddd;
        padding: 0.5rem;
      }
      tr:nth-child(even){background-color: #ffffff;}
      tr:hover {background-color: #ddd;}
      th {
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          text-align: left;
          background-color: $primary-color;
          color: white;
        }
}

.section__title{
margin: 0.8rem 0;
font-size: 1.2rem;
}

.colored{
  color: $primary-color;
}

.not__found__message{
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
}
.text__align__center{
  text-align: center;
}